<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>PAL Health Technologies | About</title>
  </head>
  <body>
    <%- include('header') %>
  </body>
</html>