<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
</head>
<div id="footer">
    <div id="footer-menu-container">
        <div class="footer-column-container">
            <div class="footer-title">Menu</div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/resources">Resources</a>
            <a href="/social">Announcements</a>
            <a href="/">Portal Login</a>
        </div>
        <div class="footer-column-container">
            <div class="footer-title">Products</div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/resources">Resources</a>
            <a href="/social">Announcements</a>
            <a href="/">Portal Login</a>
        </div>
        <div class="footer-column-container">
            <div id="footer-social-container">
                <a href="http://www.facebook.com/palhealthtech">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="http://www.facebook.com/palhealthtech">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.linkedin.com/company/pal-health-technologies">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="http://www.facebook.com/palhealthtech">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
            <img id="footer-logo" src="Logo_PAL_2019_white.png">
        </div>
    </div>
    <div id="footer-copyright">© 2019 PAL Health Technologies - All Rights Reserved</div>
</div>