<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:900&display=swap" rel="stylesheet">
    <title>PAL Health Technologies | Home</title>
  </head>
  <body>
    <div class="header-container">
        <div class="logo-container">
            <img src="PortalHeader-01.png" />
        </div>
        <div class="nav-bar-container">
            <div class="link-container">
                <a class="header-link" href="/index">HOME</a>
                <a class="header-link" href="/about">ABOUT</a>
                <a class="header-link" href="">PRODUCTS</a>
                <a class="header-link" href="/resources">RESOURCES</a>
                <a class="header-link" href="/social">SOCIAL</a>
                <a class="header-link" href="/contact">CONTACT</a>
                <a class="header-link" href="">LOGIN</a>
            </div>
        </div>
    </div>
  </body>
</html>