<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>PAL Health Technologies | Home</title>
</head>

<body>
  <%- include('header') %>
  <div class="main-page-container">
    <div id="intro-copy-container">
      <div class="paragraph-title">THE PRODUCTS YOU KNOW AND TRUST WITH THE SERVICE YOU EXPECT</div>
      <p id="1976">Since 1976, PAL has been known as a national leader in manufacturing custom, prescription foot
        orthoses. In the last decade, PAL has exploded on the technology scene with the development of the most advanced
        software for the foot. The “One Stop Shop”, Xtremity 3D, provides the most enhanced tools for patient education,
        diagnostics, treatment and prevention.</p>
      <p id="unmatched">Through careful research, extensive testing, continuous upgrading and refinement of our process,
        we are able to offer our customers the products that best match the needs of their practices and to their
        patients. If it carries the PAL name, be assured it carries our commitment to excellence. Contact us to find out
        how to start providing your patients PAL’s superior products.</p>
    </div>
  </div>
  <div class="body-image">
    <img src="BodyImage.png" />
  </div>
</body>

</html>