<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <title>PAL Health Technologies | Home</title>
</head>

<body>
  <%- include('header') %>
  <div class="main-page-container">
    <div class="main-page-section-container" id="top-section">
      <div id="splash-container">
        <img src="PAL_TopBG.jpeg">
        <div id="splash-logo">
          <img src="Logo_PAL_2019_white.png">
        </div>
      </div>
    </div>
    <div class="main-page-section-container" id="mpsc1">
      <div class="body-image">
        <img src="BodyBackground.png">
      </div>
      <div id="copy-container-intro">
        <div class="paragraph-title">THE PRODUCTS YOU KNOW AND TRUST WITH THE SERVICE YOU EXPECT</div>
        <p class="main-page-paragraph">Since 1976, PAL has been known as a national leader in manufacturing prescription foot orthoses. Today PAL has a comprehensive catalog of corrective foot devices including prescription orthoses, diabetic and accommodative inserts, and ankle braces. Our Xtremity 3D scanners provide cutting edge foot care technology, keeping both the practitioner and patient experience top of mind. PAL is committed to providing the highest quality of products, premier customer care and creative innovation for the benefit of our valued customers.</p>
        <div class="main-page-image-container">
          <img src="Advantage-Sport-Top.png">
          <img src="XFIT-Std-TOP.png">
          <img src="PlatinumGraphite.png">
        </div>
      </div>
    </div>
      
    <div class="main-page-section-container" id="mpsc2">
      <div class="body-image-flip">
        <img src="BodyBackgroundFlip.png">
      </div>
      <div id="copy-container-2">
        <div class="paragraph-title">TOP QUALITY MATERIALS, CRAFTED WITH THE HIGHEST LEVEL OF DETAIL</div>
        <p class="main-page-paragraph">Through careful research, extensive testing, continuous upgrading and refinement of our process,
          we are able to offer our customers the products that best match the needs of their practices and to their
          patients. If it carries the PAL name, be assured it carries our commitment to excellence. Contact us to find out
          how to start providing your patients PAL’s superior products.</p>
          <div class="main-page-image-container">
            <img src="BlueStitch.jpg">
            <img src="BlackStitch.jpg">
            <img src="SystemShellProfile.jpg">
          </div>
      </div>
    </div>
    <div class="main-page-section-container" id="mpsc3">
      <div class="body-image">
        <img src="BodyBackground.png">
      </div>
      <div id="copy-container-3">
        <div class="paragraph-title">INNOVATIVE TECHNOLOGY FOR PRECISE PATIENT SCANNING</div>
        <p class="main-page-paragraph">Xtremity 3D is your simple and precise 3D scanning solution for custom orthoses, braces, and diabetic inserts. It’s an all-in-one solution for creating digital scans of your patients’ feet using a highly advanced imaging accessory on your iPad®. By creating precise 3D scans, providers completely eliminate casting time and shipping costs while gaining greater topographical accuracy, increasing revenue and patient volume, and decreasing turnaround time.</p>
        <div class="main-page-image-container">
          <img src="3dfoot.png">
          <img src="bkgd-xtremity3d.png">
          <img src="Xtremity3DYellow.png">
        </div>
      </div>
    </div>
    <div class="main-page-section-container" id="mpsc4">
      <div class="body-image-flip">
        <img src="BodyBackgroundFlip.png">
      </div>
      <div id="copy-container-4">
        <div class="paragraph-title">THE SUPPORT YOU NEED TO MAKE YOUR PRACTICE THRIVE</div>
        <p class="main-page-paragraph">PAL Health Technologies offers top tier in-house customer service and IT departments to help keep your practice up and running. PAL also offers the PAL Provider Portal, a one-stop-shop where providers can search, track, re-order, and create new orders. Future features will allow for payment processing.</p>
        <div class="main-page-image-container">
          <img src="3dfoot.png">
          <img src="bkgd-xtremity3d.png">
          <img src="Xtremity3DYellow.png">
        </div>
      </div>
    </div>
    <%- include('footer') %>
  </div>

</body>
<script>

$(document).ready(function () {
  $('div#top-section').click(function() {
  $('html, body').animate({
    scrollTop: $("div#mpsc1").offset().top
  }, 1000)
}), 
  $('div#mpsc1').click(function (){
    $('html, body').animate({
      scrollTop: $("div#mpsc2").offset().top
    }, 1000)
  }),
  $('div#mpsc2').click(function (){
    $('html, body').animate({
      scrollTop: $("div#mpsc3").offset().top
    }, 1000)
  }),
  $('div#mpsc3').click(function (){
    $('html, body').animate({
      scrollTop: $("div#mpsc4").offset().top
    }, 1000)
  })
});

</script>
</html>