<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>PAL Health Technologies | Orthoses</title>
  </head>
  <body>
    <%- include('header') %>
    <div class="page-title">Prescription Orthoses</div>
    <div class="main-page-container">
        <div id="orthoses-copy-container">
            <p>PAL provides an extensive collection of sport, dress, leisure and pediatric lines. Every patient order that is entered into the PAL manufacturing system undergoes a rigorous 10-point inspection process, ensuring that every patient receives the maximum in orthotic precision, quality and excellence.<br><br>

While PAL does accept both plaster casts and foam box orders to fill patient prescriptions, producing an orthotic via Xtremity 3D is even more reliable due to extremely high-resolution, 1-to-1 imaging. Producing 3D images with 150 points of measurement per square inch, orders are processed with unmatched accuracy. Worried about getting orthotics on your patients’ feet fast enough? PAL’s quick turnaround time will get your patients on a path to healing – FASTER.</p>
        </div>
    </div>
    <div class="body-image">
        <img src="BodyImage.png" />
    </div>
  </body>
</html>