body {
    margin: 0px;
    background-color: #041026;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

#main-logo-container img {
    max-width: 1000px;
}

.main-page-section-container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 1000px;
    background-color: #041026;
}

#top-section {
    top: -140px;
}

.body-image {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 0;
}

.body-image-flip {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 0;
}

.header-container {
    margin: 0px;
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    background-color: #041026;
}

.main-page-container {
    margin: 0px;
    position: absolute;
    top: 140px;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page-title {
    text-align: center;
    z-index: 1;
    width: 100%;
    margin: 20px 0 20px 0;
    font-size: 50px;
}

#patient-label,
#provider-label {
    margin-top: 5px;
}

.contact-container {
    position: relative;
    z-index: 1;
    width: 35%;
    margin: 10px 30px 25px 30px;
}

.contact-container h1 {
    text-align: center;
}

.form-column {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-row {
    display: flex;
    flex-direction: row;
}

#form-submit {
    width: 150px;
    height: 50px;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #2b6597;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}

#form-submit:hover {
    cursor: pointer;
}

#form-name,
#form-email,
#form-phone {
    max-width: 400px;
    padding: 5px;
}

#form-subject {
    max-width: 500px;
    padding: 5px;
}

#form-message {
    max-width: 500px;
    border-radius: 10px;
    padding: 5px;
    border: none;
}

.form-column label {
    margin-bottom: 5px;
    margin-left: 5px;
}

#contact-right {
    margin: 20px 30px 0px 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

#hours-title,
#mailing-title,
#phone-title,
#fax-title {
    font-size: 25px;
    margin-bottom: 5px;
}

#hours,
#mailing-address,
#phone-number,
#fax-number {
    margin-bottom: 50px;
}


.logo-container {
    position: sticky;
    z-index: 1;
    height: 100px;
}

.form-column input {
    border: none;
    border-radius: 5px;
    height: 25px;
    font-size: 15px;
}

.social-icons-container {
    position: absolute;
    top: 65px;
    right: 50px;
    color: white;
    font-size: 25px;
}

.social-icons-container i {
    margin-left: 5px;
    margin-right: 5px;
}

.nav-bar-container {
    position: sticky;
    z-index: 2;
    margin-top: 0px;
    margin-right: 0px;
    width: 100%;
    height: 30px;
    background-color: #041026;
    border-top: 2px solid silver;
    box-shadow: 0px -1px 2px silver;;
    border-bottom: 2px solid rgb(94, 94, 94);
}

.header-link {
    margin-left: 25px;
    margin-right: 25px;
    text-decoration: none;
    color: white;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.link-container {
    margin-top: 3px;
    margin-left: 15px;
}

#orthotic-menu {
    display: none;
    position: absolute;
    top: 0px;
    left: 263px;
    width: 300px;
    background-color: #2b6597;
    transition: all .5s ease;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#orthotic-hover:hover + #orthotic-menu {
    display: block;
}

#orthotic-menu:hover {
    display: block;
}

.dropdown {
    color: white;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-left: 25px;
    margin-right: 25px;
    display: inline;
}
  
.dropdown .product-dropdown {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    transition: all .5s ease;
    left: 250px;
    top: 35px;
    background-color: #2b6597;
    min-width: 260px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {
    display: block;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    transition: all .5s ease;
    display: block;
    text-align: left;
  }

.dropdown-content a:hover {
    background-color: rgb(121, 121, 121);
}

.link-container a:hover, .link-container a:focus {
    color: #f1c534;
}

.product-dropdown:hover, .product-dropdown:focus {
    color: #f1c534;
}

#orthoses-copy-container {
    width: 60%;
}

#contact-contact-right-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}

.fab {
    color: white;
}

#copy-container-intro {
    width: 800px;
    position: absolute;
    top: 100px;
    left: 5%;
}

#copy-container-2 {
    width: 800px;
    position: absolute;
    top: 100px;
    right: 5%;
}

#copy-container-3 {
    width: 800px;
    position: absolute;
    top: 100px;
    left: 5%;
}

#copy-container-4 {
    width: 800px;
    position: absolute;
    top: 100px;
    right: 5%;
}

.paragraph-title {
    margin-top: 20px;
    font-size: 36px;
}

.main-page-paragraph {
    font-size: 24px;
}

.main-page-image-container {
    display: flex;
    flex-direction: row;
}

.main-page-image-container img {
    margin: 0 5px 0 5px;
    width: 200px;
    border: 5px solid #2b6597;
    border-radius: 200px;
}

#footer {
    width: 100%;
    min-height: 400px;
    background-color: #525252;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-column-container {
    margin: 50px 25px 25px 25px;
    width: 300px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#splash-container {
    position: absolute;
    z-index: 0;
    margin: 0px;
    width: 100%;   
}

#splash-container img {
    height: 100vh;
    width: 100%;
}

#splash-logo-container {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -140px;
    width: 100%;
    height: 100%;
}

#splash-logo {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#splash-logo img {
    max-width: 800px;
    height: auto;
}

.footer-title {
    text-decoration: underline;
    font-size: 20px;
}

.footer-column-container a {
    margin: 10px 0 10px 0;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

